<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-1>
          <button ion-button menuToggle right>
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-col>
      <ion-col col-11>
          <ion-title>
              Mr. Break - Aplicación para ventas
            </ion-title>
      </ion-col>
    </ion-row>
    
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-8>
        <ion-row>
          <ion-col *ngFor="let m of listaProductos" col-2>
            <ion-card (click)="clickProducto(m)">
              <img src="assets/imgs/cafe.jpg" />
              <ion-card-content>
                <ion-card-title>
                    {{m.nombre}}
                </ion-card-title>
              </ion-card-content>
            </ion-card>
            
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-4>
        <ion-row class="listaVenta">
          <ion-col>
                  <ion-list no-lines>
                      <ion-list-header>
                        Venta
                      </ion-list-header>
                      <ion-item class="lineaVenta" *ngFor="let lv of lineasDeVenta">
                        <ion-row>
                            <ion-col col-1><span class="cantidadRecuadro">{{lv.cantidad}}</span></ion-col> 
                            <ion-col col-8 class="lineaNombreProducto"><p>{{lv.nombre}}</p></ion-col>
                            <ion-col col-2>${{this.truncarPrecios(lv.precio*lv.cantidad)}}</ion-col>
                            <ion-col col-1><ion-icon (click)="eliminarCantidad(lv)" class="iconoEliminar" name="md-remove-circle"></ion-icon></ion-col>
                        </ion-row>
                      </ion-item>
                    </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="cobrarVentaRow">
            <ion-col>
                  <button [disabled]="lineasDeVenta.length === 0" class="botonCobrar" (click)="cobrar()" ion-button full>Cobrar ${{totalVenta}}</button>
            </ion-col>
        </ion-row>
        <ion-col>
          <button (click)="mostrarVentas()" ion-button full>Mostrar Ventas</button>
       </ion-col>
       <ion-col>
        <button (click)="subirVentas()" ion-button full>Subir Ventas</button>
     </ion-col>
     <ion-col>
      <button (click)="eliminarDB()" ion-button full>Eliminar DB</button>
   </ion-col>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>