page-home {
    .card {
        margin: 0 !important;
        width: 100% !important;
    }
    .card-content {
        padding: 3px 10px !important;
    }
    .card-title {
        padding: 0 !important;
    }
    ion-card img {
        //max-width: 60%;
        background: #ece5e5;
        margin: 0 auto;
    }
    .card-title {
        text-align: center;
        font-size: 10px !important;
        font-weight: bold;
        word-break: break-all;
        white-space: normal;
    }
}